@import "@joint/plus/joint-plus.css";

* {
  margin: 0;
  padding: 0;
}

*::-webkit-scrollbar {
  display: none;
}

#app {
  width: 100vw;
  height: 100vh;
  font-family: sans-serif;
  position: relative;

  .canvas {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    background: #f3f7f6;

    .joint-element {
      filter: drop-shadow(0.1rem 0.1rem 0.15rem rgba(0, 0, 0, 0.2));
    }

    [magnet="item"]:hover,
    .column-connected {
      fill: #efefef;
      stroke: #dddddd;
    }

    .source-arrowhead,
    .target-arrowhead {
      fill: #a0a0a0;
      stroke-width: 1;
    }
  }

  // Modal

  .modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .joint-dialog.joint-theme-default {
    .body {
      padding: 0;
      max-height: 450px;
      overflow-y: auto;
    }

    .fg {
      border: none;
      border-radius: 0px;
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      filter: drop-shadow(0.1rem 0.1rem 0.15rem rgba(0, 0, 0, 0.2));
    }

    .titlebar {
      padding: 16px;
      border-radius: 0px;
      color: #3d3d3d;
      background: #fff;
      border: none;
      border-bottom: 1px solid #dddddd;
      font-size: 20px;

      .titletab {
        height: 5px;
        position: absolute;
        top: -5px;
        left: 0;
        width: 100%;
      }
    }

    .controls {
      border: none;
      border-top: 1px solid #dddddd;

      & .control-button {
        color: #303030;
        border: 1px solid #ccc;
        background: #fff;
        border-radius: 0px;
        min-width: 82px;

        &:hover {
          border: 1px solid #ccc;
          background: #ccc;
          opacity: 0.8;
          transition: 0.1s linear;
        }
        // Remove button
        &.left {
          color: #f8f8ff;
          background: #f6511d;
          border: 1px solid #f6511d;
        }
      }
    }
  }

  /*
        ***  ui.Inspector ***
    */

  .joint-paper {
    .joint-element {
      cursor: move;
    }

    .record-item-body {
      cursor: pointer;
    }
  }

  .joint-inspector.joint-theme-default {
    border: none;
    background: #fff;
    padding: 5px 16px;

    .field {
      padding: 0;
    }

    // Column Elements
    .list-item {
      color: #636363;
      background: #fff;
      border: none;
      border-top: 1px solid #ccc;
      box-shadow: none;
      padding: 0;
      padding-top: 12px;
      padding-bottom: 16px;
      margin: 0;

      display: flex;
      flex-direction: column;
    }

    .btn-list-add,
    .btn-list-del {
      margin: 0;
      height: 30px;
      background: transparent;
      color: #f8f8ff;
      box-shadow: none;
      border-radius: 0px;

      &:hover {
        transition: 0.1s linear;
      }
    }

    .btn-list-add {
      margin-top: 4px;
      margin-bottom: 8px;
      width: 100%;
      background: #015eff;
      border: 1px solid #015eff;

      &:hover {
        opacity: 0.8;
      }
    }

    .btn-list-del {
      order: 4;
      align-self: center;
      margin-top: 8px;
      text-align: center;
      min-width: 82px;
      color: #f6511d;
      border: 1px solid #f6511d;
      padding: 0 10px;

      &:hover {
        color: #f8f8ff;
        background: #f6511d;
      }
    }

    // Text Labels
    label,
    output,
    .units {
      color: #3d3d3d;
      text-transform: none;
      text-shadow: none;
      font-size: 12px;
      margin: 0;
      line-height: 28px;
    }

    label:after {
      content: "";
    }

    // Inputs
    input[type="text"],
    input[type="number"],
    textarea,
    .content-editable,
    select {
      margin-bottom: 12px;
      width: 100%;
      height: auto;
      line-height: 16px;
      text-shadow: none;
      box-shadow: none;
      box-sizing: border-box;
      outline: none;
      padding: 16px 12px;
      overflow: auto;

      color: #303030;
      background: #fff;
      border: 1px solid #ccc;
      border-radius: 0px;
    }

    // Select Input
    select {
      background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="none" stroke-width="2" stroke="grey"><path d="M6 9l6 6 6-6"/></svg>');
      background-repeat: no-repeat;
      background-position-x: 100%;
      background-position-y: 50%;
      background-origin: content-box;

      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      cursor: pointer;

      &::-ms-expand {
        display: none;
      }
    }

    // Color Input
    input[type="color"] {
      cursor: pointer;
      margin-bottom: 12px;
    }

    // Toggle
    .toggle {
      width: 40px;
      height: 20px;

      & span,
      & input:checked + span {
        border: 1px solid #015eff;
        background: #015eff;
      }

      & span,
      & input:not(:checked) + span {
        border: 1px solid #ccc;
        background: #ccc;
      }

      & span {
        box-shadow: none;
      }

      & span i:before {
        content: "";
      }

      & input:checked + span i:before {
        content: "";
      }

      & span i {
        background: #fff;
        transition: 0.2s;
      }
    }
  }
}
